.chatInfo {
  flex: 2;
}
.profile-img{
  border-radius: 50%;
  height: 8.0rem;
}
.default-img{
  border-radius: 50%;
  height: 16.0rem;
}
.Info-flex {
  display: flex;
  flex-direction: column;
  margin-left: 1rem;
}
.Info-flex > div{
  display: flex;
  align-items: center;
  margin-bottom: 0.5rem;
}