@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@900&display=swap");

.emailInfo {
  font-family: "Source Sans Pro", sans-serif;
  display: flex;
  flex-direction: column;
}

.emailInfo > * {
  margin-bottom: 1rem;
  padding: 0.5rem;
}

.emailInfo > input {
  outline: 0;
}

.emailInfo > button {
  border: 0;
  background-color: rgb(69, 52, 228);
  color: white;
  cursor: pointer;
}

.logIn > button {
  all: unset;
  margin-left: 0.3rem;
  color: rgb(69, 52, 228);
  font-weight: 800;
}
