.msgSection {
  flex: 4.5;
  border: 2px solid lightgray;
  border-left: 0;
  display: flex;
  flex-direction: column;
}

.allMessages::-webkit-scrollbar {
  display: none;
}

.msgSection__header {
  display: flex;
  /* justify-content: space-between; */
  padding: 0.5rem 0.5rem;
  padding-right: 0.5rem;
  border-bottom: 1px solid lightgray;
}

.header__image > img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 0.5rem;
}

.header__content {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  padding: 0 0.5rem;
}

.header__personInfo > * {
  margin: 0;
  text-align: left;
}

.header__personInfo > p {
  font-weight: 600;
}

.header__personInfo > small {
  font-weight: 300;
  text-align: left;
}

.allMessages {
  height: 100%;
  overflow: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.messageInput {
  padding: 0.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.messageInput > input {
  padding: 0.5rem 1rem;
  outline: 0;
  border: 1px solid gray;
  border-radius: 10px;
  margin-bottom: 1rem;
  background-color: rgb(238, 238, 238);
  width: 90%;
}

.messageInput > button {
  all: unset;
  padding: 0.1rem 0.5rem;
  border-radius: 0.8rem;
  margin-bottom: 1rem;
}
