.right__singleMsg {
  position: relative;
  right : 0;
  display: flex;
  flex-direction: row-reverse;
  margin: 1rem 1rem;
  max-width: 40%;
}

.right__singleMsg__container{
  display: flex;
  justify-content: flex-end;
}

.left__singleMsg__container{
  display: flex;
  justify-content: flex-start;
}

.left__singleMsg {
  display: flex;
  margin: 1rem 1rem;
}

.author__image > img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.msg__mainInfo {
  display: flex;
  flex-direction: column;
}

.msg__mainInfo > .right {
  text-align: right;
  padding-right: 0.3rem;
  margin-bottom: 0.2rem;
  font-weight: 600;
}

.msg__mainInfo > .left {
  text-align: left;
  padding-left: 0.3rem;
  margin-bottom: 0.2rem;
  font-weight: 600;
}

.text__info {
  display: flex;
  flex-direction: column;
  background-color: aqua;
  padding: 0.5rem;
  margin-left: 0.3rem;
}

.text__info > * {
  margin: 0;
}

.left__time {
  padding-top: 0.2rem;
  font-size: 0.8rem;
  width: 100%;
  text-align: left;
}

.right__time {
  padding-top: 0.2rem;
  font-size: 0.8rem;
  width: 100%;
  text-align: right;
}
